body{
    background-color: white;
}

#images{
    display: inline-block;
    margin-top: 150px;
    margin-left: 20%;
}
h1{
    text-align: center;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgs{
    border: 20px black;
    width: 200px;
    height: 300px;
    border: groove 20px;
    padding: 30px;
    
}

main p{
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    background-color: lightgray;
}

#labelIndex{
    margin-left: 40%;
    background-color: violet;
}

footer{
    text-align: center;
    font-size: small;
    color: gray;
    padding-bottom: 2%;
}

#divs{
    margin-left: 25%;
    margin-right: 25%;
    color: black;
    font-weight: bold;
}

#results{
    margin-top: 7%;
    margin-left: 47%;
}
#buttons{
    margin-left: 48%;
}